.rectangle{
    height: 300px;
    width: 700px;
    background-color: #f3ad78;
    margin-top: 220px;
    margin-left: 500px;
    border-radius: 20px;
    z-index: -1;
    position: absolute;
}

.headerpic{
    img{
        height: 400px;
        width: 550px;
        border-radius: 10px;
        margin-top: 70px;
        margin-left: 140px;
    }
}

.htext{
        font-family: Helvetica;
        color: white;
        font-size: 70px;
        font-weight: bold;
        margin-top: -330px;
        margin-left: 700px;
}

.hspan{
    color: #3d2400;

}

.hbutton{
    background-color: #e8804c;
    color: white;
    font-family: Helvetica;
    font-weight: bold;
    font-size: 25px;
    border: none;
    border-radius: 15px;
    padding: 15px;
    text-align: center;
    text-decoration: none;
    margin-top: 50px;
    float: right;
    margin-right: 170px;
    cursor: pointer;
}

.bodypic{
    img{
        height: 650px; 
        width: 1200px;
        display: block;
        margin-left: auto;
        margin-right: auto;
        margin-top: -330px;
        border: 20px solid white;
        border-top: 100px solid white;
        border-radius: 15px;
        z-index: -1;
    }
}

.btext{
    color: #212121;
    font-size: 40px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin: 250px 150px;
    text-align: center;
}