.grooming-body-images{
    .title-pic-container{
        max-width: 100%;
        height: auto;
        text-align: center;
    } 
}

.row-body-images {
    display: flex;
  }
  
  .column-body-images{
    img{
    max-width: 100%;
    height: auto;
    }
  }