*{
    font-family: Arial, Helvetica, sans-serif;
    box-sizing: border-box;
}
  .navbar{
    background: #1697b7;
    height: 80px;
    width: 100%;
    display: flex;

    .logo-container{
      color: white;
      height: auto;
      display: flex;

    img{
      width: 60px;
      height: 60px;
      float: left;
      margin-top: 10px;
      margin-left: 45px;
      cursor: pointer;
      }
    }

    .navbar-title{
      font-size: 20px;
      font-weight: bold;
      margin-top: 30px;
      margin-left: 20px;
      white-space: nowrap;
    }

   .navbar-links{
    width: 100%;
    }
  } 

  nav ul{
    float: right;
    margin-right: 20px;
  }
  nav ul li{
    display: inline-block;
    line-height: 80px;
    margin: 0 5px;
    text-transform: uppercase;
    font-weight: bold;
  }
  nav ul li a{
    color: white;
    font-size: 17px;
    padding: 7px 13px;
    border-radius: 3px;
    text-transform: uppercase;
    text-decoration: none;
  }

  li:nth-child(5){
    background-color: #dc1818;
    border-radius: 2rem;
  }
  li:hover:not(:last-child){
    background-color: #1b9bff;
  }

  @media (min-height: 600px) and (max-width: 800px) {
    .navbar-title{
      display: none;
    }

    .navbar-links{
      font-size: 12px;
    }
  } 
