.service-body-images{
.first-pic-container img{

    max-width: 100%;
    height: auto;
}

.second-pic-container img{

    max-width: 100%;
    height: auto;
}

.third-pic-container img{

    max-width: 100%;
    height: auto;
    }
}