.first-pic-container img{

    max-width: 100%;
    height: auto;
    margin-bottom: 50px;
    text-align: center;
}

.second-pic-container img{

    max-width: 100%;
    height: auto;
    margin-bottom: 70px;
    cursor: pointer;
}